* {
    margin: 0;
}

.headingTitle {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(226, 45, 45);
    text-decoration: none;
    font-size: 20px;
}

.ul {
    background: rgb(170, 170, 170);
    padding: 5px 0;
    display: flex;
    width: 100%;
    text-decoration: none;
    list-style: none;
    text-align: center;
    .li {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    a {
        padding: 3px 5px;
        width: 20%;
        white-space: nowrap;
        display: flex;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 25px;
    }
    a:hover {
        color: rgba($color: #ffffff, $alpha: 0.8);
    }
}

.link {
    display: flex;
    width: 25%;
    padding: 0px 10px;
    color: white;
    text-decoration: none;
}