* {
    margin: auto;
}

.navbarContainer {
    display: flex;
    width: 100%;
    padding-bottom: 3px;
    padding-top: 3px;
    background:rgb(170, 170, 170);
    justify-content: space-evenly;
    position: relative;
    .hamburger {
        position: absolute;
        right: 10px;
        float: right;
        display: flex;
        font-size: 25px;
        align-items: center;
        justify-content: flex-end;
        cursor: pointer;
    }
    .headingTitle {
        display: flex;
        float: left;
        width: 50%;
        justify-content: center;
        align-items: center;
        color: rgb(226, 45, 45);
        text-decoration: none;
        font-size: 20px;
    }
}


.ul {
    background: rgb(170, 170, 170);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    text-decoration: none;
    list-style: none;
    text-align: center;
    justify-content: space-evenly;
    .li {
        width: 100%;
        white-space: nowrap;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    a {
        display: flex;
        justify-content: space-evenly;
        border-radius: 15px;
        text-align: center;
        font-size: 20px;
    }
    a:hover {
        color: darkgray;
        background-color: red;
    }
}

.link {
    display: flex;
    width: 25%;
    padding: 0px 10px;
    color: white;
    text-decoration: none;
}
