* {
    color: black;
}

.aboutPage {
    min-height: 95vh;
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url('./images/chemex.jpg');
    color: white;
}

.heading {
    color: white;
    padding-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color:white;
    ul {
        li {
            color: white;
        }
    }
    p {
        width: 80%;
        padding: 5px;
        color: white;
        line-height: 2;
    }
}
