* {
    color: black;
}

.heading {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    p {
        width: 80%;
        padding: 5px;
        line-height: 2;
    }
}
