* {
    color: black;
}

.heading {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContainer {
    margin: 10px;
    padding: 10px;
}

p {
    padding: 5px;
    display: flex;
    flex-direction: column;
    line-height: 2;
}