.page {
    min-height: 90vh;
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)),
        url('./images/chemex.jpg');
}


.heading {
    width: 100%;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 15px; 
}

.posts {
    list-style: none;
    padding: 0;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post {
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    a {
        width: 50%;
        background: #f4f4f4;
        border-radius: 15px;
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
        padding: 1rem;
        text-decoration: none;
    }
    a:hover {
        background: #bbb;
    }
    
    h2 {
        margin-bottom: 0;
    }

    p {
        color: grey;
        font-size: .8rem;
        font-style: italic;
    }
}

.blog-image {
    max-width: 200px;
}
