.brewPage {
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .subHeading {
        width: 100%;
        text-align: center;
        align-items: center;
        padding-bottom: 5px;
    }
    .container {
        display: flex;
        flex-direction: column;
        border-top: 1px solid black;
        padding-top: 10px;
        width: 100%;
        justify-content: center;
        align-items: center;
        p {
            display: flex;
            width: 80%;
            line-height: 2;
        }
    }
}